{% extends "./base/base.html" %}
{% block body %}
<!-- Page Heading -->
<h1 class="mb-5 text-gray-800 text-center">核銷審核</h1>

<!-- Tales -->
<div class="row-50% text-center">
    <div class=" mx-auto table-responsive">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th>序號</th>
                    <th>提交人</th>
                    <th>科目</th>
                    <th>預測金額(元)</th>
                    <th>總計(元)</th>
                    <th>狀態</th>
                    <th>審核人</th>
                    <th>審核時間</th>
                    <th>備註</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>侯正成</td>
                    <td>火箭材料費</td>
                    <td>1000.00</td>
                    <td>2000.00</td>
                    <td>通過</td>
                    <td>劉建佑</td>
                    <td>2021-10-01 22:10:30</td>
                    <td>無</td>
                    <td>
                        <button class="btn btn-success">同意</button>
                        <button class="btn btn-danger">駁回</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}