<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>更多個人資訊</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/more-profile.css">
</head>

<body>
    <div class="profile-card">
        <div class="card-header">
            <div class="goback">
                <a class="dropdown-item" href="/profile" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i> 
                </a>
            </div>
        {%for i in count_results%}   
            <div class="pic">
                <img src="static/images/{{i['id_number']}}.png" alt="">
            </div>
            <div class="name">{{i['id_name']}}</div>
            <div class="desc">{{i['job_title']}}</div>
            <div class="sm">
            </div>
        <div class="card-footer">
            <div class="numbers">
                <div class="item">
                    <span>{{i['id_number']}}</span>
                    成員編號
                </div>
                <div class="border"></div>
                <div class="item">
                    <span>{{i['unit']}}</span>
                    所屬部門
                </div>
                <div class="border"></div>
                <div class="item">
                    <span >{{count_results2}}</span>
                    累計服務時數
                </div>
            </div>
            <div class="card-footer">
                <div class="numbers">
                    <div class="item">
                        <span>{{i['id_name']}}</span>
                        姓名
                    </div>
                    <div class="border"></div>
                    <div class="item">
                        <span>{{i['id_sex']}}</span>
                       性別
                    </div>
                    <div class="border"></div>
                    <div class="item">
                        <span>{{i['id_birth']}}</span>
                    生日
                    </div>
                </div>
            </div>
                <div class="numbers">
                    <div class="item-s">
                        <span>{{i['id_email']}}</span>
                        電子郵件
                    </div>
                    <div class="border"></div>
                    <div class="item">
                        <span>{{i['id_phone']}}</span>
                       聯絡電話
                    </div>
                </div>
            <div class="card-footer">
                <div class="numbers">
                    <div class="item">
                        <span>{{i['hierarchie']}}</span>
                        層級代號
                    </div>
                    <div class="border"></div>
                    <div class="item">
                        <span>{{i['job_title']}}</span>
                       職稱
                    </div>
                    <div class="border"></div>
                    <div class="item">
                        <span>{{i['job_level']}}</span>
                    職等
                    </div>
                </div>
            </div>
        {%endfor%}
    </div>
{% block body %}
{% endblock %}
</body>

</html>