{% extends "base.html" %}
{% block body %}

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="mb-5 text-gray-800">公文列表</h1>

                    <!-- Content Row -->
                    <div class="row text-center">
                        <div class="col-12 col-md-10 mx-auto">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th scope="col">申請日期</th>
                                        <th scope="col">申請人</th>
                                        <th scope="col">字別</th>
                                        <th scope="col">字號</th>
                                        <th scope="col">速別</th>
                                        <th scope="col">密等</th>
                                        <th scope="col">附件</th>
                                        <th scope="col">操作</th>
                                    </tr>
                                </thead>

                                        <li class='list-unstyled justify-content-between d-flex h6'>
                                        {%for i in code_results%}
                                        <tbody id="myTable">
                                            <tr>
                                            <td>{{i['code_date']}}</td>
                                            <td>{{i['who_make']}}</td>
                                            <td>{{i['code_name']}}</td>
                                            <td>{{i['code_number']}}</td>
                                            <td>{{i['code_speed']}}</td>
                                            <td>{{i['class_level']}}</td>
                                            <td>{{i['appendix']}}</td>
                                            <td><div class="d-grid gap-2 d-md-block">
                                                <button class="btn btn-outline-success" type="button">同意</button>
                                                <button class="btn btn-outline-danger" type="button">駁回</button>
                                              </div></td>
                                            </tr>
                                        </tbody>
                                        {%endfor%}
                                        </li>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <!-- 插入新公文的函式，從資料庫以及後端傳變數進來，此函式會將新公文插入表格最上方 -->
                        <script>
                            function createNewRow(a, b, c, d, e, f) {
                                var table = document.getElementById("myTable");
                                var newRow = table.insertRow(0);
                                var applyDate = newRow.insertCell(0);
                                var font = newRow.insertCell(1);
                                var number = newRow.insertCell(2);
                                var speed = newRow.insertCell(3);
                                var secret = newRow.insertCell(4);
                                var appendix = newRow.insertCell(5);
                                applyDate.innerHTML = a;
                                font.innerHTML = b;
                                number.innerHTML = c;
                                speed.innerHTML = d;
                                secret.innerHTML = e;
                                appendix.innerHTML = f;
                            }
                        </script>
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->


        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

{% endblock %}