{% extends "./base/base.html" %}
{% block body %}
                
<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">團隊最新公告</h1>
    <a href="announcement_in" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
            class="fas fa-download fa-sm text-white-50"></i> 發布公告</a>
</div>

<!-- Third container -->
<div class="row-50% text-center">
    <div class=" mx-auto table-responsive">
        <table class="table text-nowrap">
            <tbody class="h4">
                <tr>
                    <td id="公告分類" class="text-left">公告分類：紙類</td>
                    <td id="時間" class="text-right">發布時間：2022/4/17 21:24:27</td>
                </tr>
                <tr>
                    <td id="公告主旨" class="text-left" colspan="2">公告主旨：幫正成加薪</td>
                </tr>
                <tr>
                    <td id="內文標誌" class="text-left" colspan="2">內文：</td>
                </tr>
                <tr>
                    <td id="內文內容" class="text-left border-0" height="300px" colspan="2">快阿快阿正成要窮死了</td>
                </tr>
                <tr>
                    <div class="col-12 mb-4">
                        <a href="static/download_file/1110401公告.pdf" download="1110401公告.pdf">下載檔案測試</a>
                      </div>
                    <div class="col-12 mb-4">
                </tr>
                <tr>
                    <td id="發布單位" class="text-left">發布單位：資訊部</td>
                    <td id="發布人" class="text-right">發布人：侯正成</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end Third container -->

{% endblock %}