{% extends "./base/base.html" %}
{% block body %}
{%for i in code_results%}
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class=" mb-0 text-gray-800">{{i['subject']}}</h1>
</div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h6 class=" mb-0 text-gray-800">公告分類：{{i['announcement_category']}}  ,  發布單位：{{i['unit']}}  {{i['who']}}</h6>
    <h6 class=" mb-0 text-gray-800">發布時間：{{i['code_date']}}</h6>
</div>
<div class="dropdown-divider"></div>
<div  style="height: 400px">
    <div class="row ">
        <div class=" mx-auto table-responsive" height = "400px">
            <table class="table table-hover text-nowrap ">
                <tr>
                    <pre><h5 class=" mb-0 text-gray-800 "padding='10px 0'>{{i['text_in']}}</h5></pre>
                </tr>
            </table>
        </div>
    </div>
</div> 
<div class="dropdown-divider"></div>
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h6 class=" mb-0 text-gray-800">附件檔案下載：<a href="/static/download_file/{{i['filename']}}" download="{{i['filename']}}">{{i['filename']}}</a></h6>
</div>
<!-- end Third container -->
{%endfor%}
{% endblock %}