<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>MySQL</title>
    <style>
        div {
            width: 250px;
            height: 100px;
            margin: auto;
            margin-top: 200px;
            font-size: 15px;
            font-weight: 700;
            background: #ffffff;
        }
        
        div form input {
            margin-top: 10px;
        }
        
        .btn {
            margin-left: 100px;
            cursor: pointer;
        }
    </style>
</head>

<body>
    <div>
        <form action="http://127.0.0.1:5000/index" method="POST">
            <label>成員編號: </label>
            <input type="text" name="id_number"><br>
            <label>姓名: </label>
            <input type="text" name="id_name"><br>
            <label>性別: </label>
            <input type="text" name="id_sex"><br>
            <label>生日: </label>
            <input type="text" name="id_birth"><br>
            <label>聯絡電話: </label>
            <input type="text" name="id_phone"><br>
            <label>電子郵件: </label>
            <input type="text" name="id_email"><br>
            <label>帳號: </label>
            <input type="text" name="username"><br>
            <label>密碼: </label>
            <input type="text" name="password"><br>
            <input class="btn" type="submit" name="submit" value="送出"><br>
        </form>
    </div>
</body>

</html>