<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clock</title>
    <link rel="stylesheet" href="static/css/clock_style.css">
</head>
{% extends "base.html" %}
{% block body %}
<!-- Begin Page Content -->
<div class="container-fluid text-center">

    <!-- Page Heading -->
    <p class="h1 mb-3 text-gray-800">打卡系統</p>
    <p class="h1 mb-3 text-gray-800">上班時間：20:00 ~ 23:00</p>
    <!-- Date -->
    <span class="h1 text-gray-800" id="Date"></span>
    <!-- Content Row -->
    <div class="row mt-3">

        <!-- First Column -->
        <div class="col-sm-6 mx-auto">

            <!-- Time -->
            <div class="container">
                <div class="clock">
        
                    <div class="circle" id="sc" style="--clr:#04fc43;"><i></i></div>
                    <div class="circle circle2" id="mn" style="--clr:#fee800;"><i></i></div>
                    <div class="circle circle3" id="hr" style="--clr:#ff2972;"><i></i></div>
        
                    <span style="--i:1;"><b>1</b></span>
                    <span style="--i:2;"><b>2</b></span>
                    <span style="--i:3;"><b>3</b></span>
                    <span style="--i:4;"><b>4</b></span>
                    <span style="--i:5;"><b>5</b></span>
                    <span style="--i:6;"><b>6</b></span>
                    <span style="--i:7;"><b>7</b></span>
                    <span style="--i:8;"><b>8</b></span>
                    <span style="--i:9;"><b>9</b></span>
                    <span style="--i:10;"><b>10</b></span>
                    <span style="--i:11;"><b>11</b></span>
                    <span style="--i:12;"><b>12</b></span>
                </div>
        
                <!-- digital clock -->
                <div id="time">
                    <div id="hours" style="--clr:#ff2972;">00</div>
                    <div id="minutes" style="--clr:#fee800;">00</div>
                    <div id="seconds" style="--clr:#04fc43;">00</div>
                    <div id="ampm">AM</div>
                </div>
            </div>
        
            <script>
                let hr = document.querySelector('#hr');
                let mn = document.querySelector('#mn');
                let sc = document.querySelector('#sc');
        
                setInterval(() => {
                    let day = new Date();
                    let hh = day.getHours() * 30;
                    let mm = day.getMinutes() * 6;
                    let ss = day.getSeconds() * 6;
        
                    hr.style.transform = `rotateZ(${hh+(mm/12)}deg)`;
                    mn.style.transform = `rotateZ(${mm}deg)`;
                    sc.style.transform = `rotateZ(${ss}deg)`;
        
                    // Digital clock
                    let hours = document.getElementById('hours');
                    let minutes = document.getElementById('minutes');    
                    let seconds = document.getElementById('seconds');    
                    let ampm = document.getElementById('ampm');
        
                    let h = new Date().getHours();
                    let m = new Date().getMinutes();
                    let s = new Date().getSeconds();
        
                    let am = h >= 12 ? "PM" : "AM";
        
                    // convert 24hr clock to 12hr clock
                    if (h > 12){
                        h = h - 12;
                    }
        
                    // add zero before single digit number
                    h = (h < 10) ? "0" + h : h;
                    m = (m < 10) ? "0" + m : m;
                    s = (s < 10) ? "0" + s : s;
        
                    hours.innerHTML = h;
                    minutes.innerHTML = m;
                    seconds.innerHTML = s;
                    ampm.innerHTML = am;
        
                })
            </script>
                    <script language="JavaScript">
                        function ShowTime() {
                            var NowDate = new Date();
                            var yy = NowDate.getFullYear();
                            var mm = NowDate.getMonth() + 1;
                            var dd = NowDate.getDate();
                            if (mm < 10 && dd < 10) {
                                document.getElementById("Date").innerHTML = yy + "/0" + mm + "/0" + dd + " ";
                            } else if (mm < 10 && dd >= 10) {
                                document.getElementById("Date").innerHTML = yy + "/0" + mm + "/" + dd + " ";
                            } else if (mm >= 10 && dd < 10) {
                                document.getElementById("Date").innerHTML = yy + "/" + mm + "/0" + dd + " ";
                            } else {
                                document.getElementById("Date").innerHTML = yy + "/" + mm + "/" + dd + " ";
                            } 
                            //暫存結果
                            var tt = t.innerHTML;
                            //最後判斷小時是否為個位數，是的話將剛剛暫存的結果之最前方補一個0
                            if (h < 10) {
                                t.innerHTML = "0" + tt;
                            }

                            setTimeout('ShowTime()', 1000);
                        }
                    </script>

                    <body onload="ShowTime()">
                        <div id="showbox"></div>
                    </body>
                </span>
            </div>

        </div>

    </div>

    <div class="row mb-3">
        <div class="col-md-3"> </div>
        <div class="col-7 col-md-3 mb-3 mx-auto">
            <button class="btn btn-lg btn-outline-info w-100">上班/簽到</button>
        </div>
        <div class="col-7 col-md-3 mx-auto">
            <button class="btn btn-lg btn-outline-info w-100">下班/簽退</button>
        </div>
        <div class="col-md-3"> </div>
    </div>

    <div class="row mb-5">
        <div class="col-md-3"> </div>
        <div class="col-7 col-md-3 mb-3 mx-auto">
            <button class="btn btn-lg btn-outline-info w-100">請假</button>
        </div>
        <div class="col-7 col-md-3 mx-auto">
            <button class="btn btn-lg btn-outline-info w-100">打卡申訴</button>
        </div>
        <div class="col-md-3"> </div>
    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- End of Main Content -->

<!-- Footer -->
<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2020</span>
        </div>
    </div>
</footer>
<!-- End of Footer -->

</div>
<!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->

<!-- Scroll to Top Button-->
<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
{% endblock %}