<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie = edge" />
    <link href="static/css/loginstyle.css" rel="stylesheet" />
    <title>登入介面</title>
    <link rel='stylesheet'
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  </head>

  <body>
    <form method="post" action="/login" class="login">
      <h1>登入</h1>
      <i class="fa fa-user-circle-o pic"></i>
      <h2>帳號</h2>
      <input type="text"  name="username" placeholder="username" />
      <h2>密碼</h2>
      <input
        type="password"
        id="password"
        name="password"
        placeholder="password"
      />
      <button type="submit">登入</button>
    </form>
  </body>
</html>
