{% extends "base.html" %}
{% block body %}
<!-- Page Heading -->
<h1 class="mb-5 text-gray-800">公文列表</h1>

<!-- Content Row -->
<div class="row text-center">
    <div class=" mx-auto table-responsive">
        <table class="table table-hover text-nowrap">
            <thead>
                <tr>
                    <th scope="col">申請日期</th>
                    <th scope="col">申請人</th>
                    <th scope="col">受文者</th>
                    <th scope="col">字號</th>
                    <th scope="col">速別</th>
                    <th scope="col">密等</th>
                    <th scope="col">附件</th>
                    <th scope="col">操作</th>
                </tr>
            </thead>

                    <li class='list-unstyled justify-content-between d-flex h6'>
                    {%for i in code_results%}
                    <tbody id="myTable">
                        <tr>
                        <td>{{i['code_date']}}</td>
                        <td>{{i['who_make']}}</td>
                        <td>{{i['for_who']}}</td>
                        <td>{{i['code_number']}}</td>
                        <td>{{i['code_speed']}}</td>
                        <td>{{i['class_level']}}</td>
                        <td>{{i['appendix']}}</td>
                        <td><div class="d-grid gap-2 d-md-block">
                            <button class="btn btn-outline-success" type="button">同意</button>
                            <button class="btn btn-outline-danger" type="button">駁回</button>
                            </div></td>
                        </tr>
                    </tbody>
                    {%endfor%}
                    </li>
        </table>
    </div>
</div>
{% endblock %}