{% extends "base.html" %}
{% block body %}
<body onload="showDate();showYear();">
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
<form method="POST" action="{{url_for('send_paper_number')}}">
    <div class="row">
        <div class="col-12 col-md-12 text-left">
            <span class="h1 text-gray-800">文號申請系統</span>
        </div>
    </div>

    <div class="row mt-4 mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">申請日期：</span>
        </div>
        
        <div class="col-6 col-md-2 text-left">
            <input type="text" class="text-center" name="applyDate" id="applyDate" disabled>
            
            <script>
                function showDate(){
                    var NowDate = new Date();
                    var yy = NowDate.getFullYear();
                    var mm = NowDate.getMonth() + 1;
                    var dd = NowDate.getDate();
                    document.getElementById('applyDate').value = yy + "/" + mm + "/" + dd;
                }
            </script>
        </div>

        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">申請人/承辦人：</span>
        </div>
        
        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="applicant" id="applicant" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="劉建佑">劉建佑</option>
                <option value="侯正成">侯正成</option>
                <option value="陳星維">陳星維</option>
                <option value="劉軒志">劉軒志</option>
                <option value="林彥合">林彥合</option>
                <option value="李知恩">李知恩</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">連絡電話：</span>
        </div>
        
        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="phoneNumber" id="phoneNumber" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="0966473569">0966473569</option>
                <option value="0966473567">0966473567</option>
                <option value="0966473561">0966473561</option>
                <option value="0966473562">0966473562</option>
                <option value="0966473563">0966473563</option>
                <option value="0966473564">0966473564</option>
            </select>
        </div>

        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">聯絡郵件：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="mail" id="mail" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="A001_email">dandy40605@gmail.com</option>
                <option value="A002_email">dandy40606@gmail.com</option>
                <option value="A003_email">dandy40607@gmail.com</option>
                <option value="A004_email">dandy40608@gmail.com</option>
                <option value="A005_email">dandy40609@gmail.com</option>
                <option value="A006_email">iu19930516@gmail.com</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">受文者：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="recipient" id="recipient" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="劉建佑">劉建佑</option>
                <option value="侯正成">侯正成</option>
                <option value="陳星維">陳星維</option>
                <option value="劉軒志">劉軒志</option>
                <option value="林彥合">林彥合</option>
                <option value="李知恩">李知恩</option>
            </select>
        </div>

        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">單位別：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="department" id="department" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="A000">A000</option>
                <option value="AA00">AA00</option>
                <option value="AB00">AB00</option>
                <option value="AC00">AC00</option>
                <option value="ACA0">ACA0</option>
                <option value="ACB0">ACB0</option>
                <option value="AD00">AD00</option>
                <option value="AD0A">AD0A</option>
                <option value="AE00">AE00</option>
                <option value="AEA0">AEA0</option>
                <option value="AEB0">AEB0</option>
                <option value="AEAA">AEAA</option>
                <option value="AEBA">AEBA</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">類別：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="category" id="category" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
                <option value="D">D</option>
                <option value="E">E</option>
                <option value="F">F</option>
                <option value="G">G</option>
                <option value="H">H</option>
                <option value="I">I</option>
                <option value="J">J</option>
                <option value="K">K</option>
                <option value="L">L</option>
                <option value="M">M</option>
                <option value="N">N</option>
                <option value="O">O</option>
                <option value="P">P</option>
                <option value="Z">Z</option>
            </select>
        </div>

        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">年份：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <input type="text" class="text-center" name="year" id="year" disabled>
            
            <script>
                function showYear(){
                    var NowDate = new Date();
                    var yy = parseInt(NowDate.getFullYear());
                    yy = yy % 100;
                    document.getElementById('year').value = yy;
                }
            </script>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">字別：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="font" id="font" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="執行字">執行字</option>
                <option value="監察字">監察字</option>
                <option value="秘書字">秘書字</option>
                <option value="財務字">財務字</option>
                <option value="財會字">財會字</option>
                <option value="財出字">財出字</option>
                <option value="人資字">人資字</option>
                <option value="人實字">人實字</option>
                <option value="資訊字">資訊字</option>
                <option value="資研字">資研字</option>
                <option value="資技字">資技字</option>
                <option value="資研一字">資研一字</option>
                <option value="資技一字">資技一字</option>
            </select>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col-4 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">速別：</span>
        </div>

        <div class="col-4 col-md-2 text-left">
            <select onchange="special();" class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="speed" id="speed" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="最速件">最速件</option>
                <option value="速件">速件</option>
                <option value="普通件">普通件</option>
                <option value="特殊件">特殊件</option>
            </select>
        </div>

        <div class="col-4 col-md-2">
            <input type="hidden" size="15" id="special" placeholder="請輸入時限">
        </div>

        <script>
            function special(){
                var a = document.getElementById("speed").value;
                if(a = 特殊件){
                    document.getElementById('special').type = 'text';
                }
                else{
                    document.getElementById('special').type = 'hidden';
                }
            }
        </script>
    </div> 
        
    <div class="row mb-4">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">密等：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select onchange="secret();" class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="secretLevel" id="secretLevel" aria-label=".form-select-lg example">
                <option selected>請選擇</option>
                <option value="絕對機密">絕對機密</option>
                <option value="極機密">極機密</option>
                <option value="機密">機密</option>
                <option value="密">密</option>
                <option value="非機密">非機密</option>
            </select>
        </div>

        <div class="col-4 col-md-4">
            <input type="hidden" size="25" id="secret" placeholder="請輸入解密條件或保密期限">
        </div>

        <script>
            function secret(){
                var b = document.getElementById("secretLevel").value;
                if(b = 非機密){
                    document.getElementById('secret').type = 'hidden';
                }
                else{
                    document.getElementById('secret').type = 'text';
                }
            }
        </script>
    </div>

    <div class="row">
        <div class="col-6 col-md-3 text-right">
            <span class="h4 text-gray-800 w-100">附件（是否）：</span>
        </div>

        <div class="col-6 col-md-2 text-left">
            <select class="form-select form-select-lg btn btn-outline-info w-100 text-center" name="appendix" id="appendix" aria-label=".form-select-lg example">
                <option value="是">是</option>
                <option value="否">否</option>
            </select>
        </div>    
    </div>

    <div class="col-12 mt-3 pt-3">
        <button type="#" class="btn btn-primary">發送公文
        </button
    </div>
</form>
{% endblock %}